{%  extends 'base.html.twig' %}

{% block body %}
    <title>list user</title>
    <ul>
        {%  for elmt in lst %}
            <li>{{ elmt.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}